$primary-text: #616161 !default;

$main-bg-color: #fff !default;

$menu-bg-color: #F3F3F3 !default;

$menu-text-color: #616161 !default;

$menu-active-bg-color: #E4E6F1 !default;

$header-bg-color: #F3F3F3 !default;