$primary-text: #cccccc !default;

$main-bg-color: #1E1E1E !default;

$menu-bg-color: #252526 !default;

$menu-text-color: #cccccc !default;

$menu-active-bg-color: #37373D !default;

$header-bg-color: #252526 !default;
